body {
    padding-top: 70px;
}

.jumbotron {
    color: #655451;
    background-color: #D9D0CF;
}

.navbar-inverse {
    background: #655451;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}
